@tailwind base;
@tailwind components;
@tailwind utilities;

/* Daisy Ui Custom Css */

.menu li>:not(ul,.menu-title,details,.btn).active, .menu li>:not(ul,.menu-title,details,.btn):active, .menu li>details>summary:active {
  background-color: transparent;
  color: #212121;
}

:where(.menu li:not(.menu-title,.disabled) > :not(ul,details,.menu-title)):is(summary):not(.active,.btn):focus-visible, :where(.menu li:not(.menu-title,.disabled) > :not(ul,details,.menu-title)):not(summary,.active,.btn).focus, :where(.menu li:not(.menu-title,.disabled) > :not(ul,details,.menu-title)):not(summary,.active,.btn):focus, :where(.menu li:not(.menu-title,.disabled) > details > summary:not(.menu-title)):is(summary):not(.active,.btn):focus-visible, :where(.menu li:not(.menu-title,.disabled) > details > summary:not(.menu-title)):not(summary,.active,.btn).focus, :where(.menu li:not(.menu-title,.disabled) > details > summary:not(.menu-title)):not(summary,.active,.btn):focus {
  background-color: transparent;
  --tw-text-opacity: 1;
  color: black;
  outline: none;
}

.discuss{
  background-image: url("../assets/images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width:767px){
  .border-solid.border-2.rounded.p-4.lg\:hidden.md\:col-span-3 {
    display: none;
} 
}

@media screen and (max-width:500px){

  a.btn.bg-\[\#ABEF5F\].hover\:bg-\[\#ABEF5F\].text-base.text-\[\#212121\].font-black {
    width: 100%;
} 
}





